<!--# -*- coding: utf-8 -*-
"""
Created on Fri Aug 16 12:34:39 2019

@author: Suresh Dhamapurkar
"""
-->

<html>
	<head>
		<title>Similar Knowledge Example</title>
	</head>
	<body>
		<form method="POST" action="/knowledge_post">
			<p> Search Knowledge Base : </p>
			<!--input type="text" name="know_post"-->
			<!--form action="/action_page.php"-->
          <textarea name="know_post" rows="10" cols="80"></textarea>
          <br>
          <!--input type="submit"-->
        <!--/form-->
        
        <!--/body-->
        <!--/html-->
			
			<input type="submit">
			<button type="reset" value="Reset">Reset</button>
		</form>
	</body>
</html>