<!--# -*- coding: utf-8 -*-
"""
Created on Fri Aug 16 12:46:52 2019

@author: Suresh Dhamapurkar
"""
-->

<html>
	<head>
		<title>Similar Knowledge Articles</title>
	</head>
<body>
   <h1>Similar Knowledge Articles</h1>
	<h3> The knowledge article belongs to cluster : {{ temp }} and categories are {{ categories }} </h3>
	<h3> Article to be searched : </h3>
   <textarea rows="10" cols="120">{{orig_post}}   </textarea>
   <h3> Similar knowledge article 1 from category {{cat0}}: </h3>
   <textarea rows="10" cols="120">{{artcle1}}   </textarea>
   <h3> Similar knowledge article 2 from category {{cat1}} :   </h3>
   <textarea rows="10" cols="120">{{artcle2}}   </textarea>
   <h3> Similar knowledge article 3  from category {{cat2}}:   </h3>
   <textarea rows="10" cols="120">{{artcle3}}   </textarea>
   <h3> Similar knowledge article at middle from category {{cat3}} :   </h3>
   <textarea rows="10" cols="120">{{artcle4}}   </textarea>
   <h3> Similar knowledge article at last from category {{cat4}}:   </h3>
   <textarea rows="10" cols="120">{{artcle5}}   </textarea>
   <h3> More article indices in cluster are : </h3>
   <textarea rows="10" cols="120">{{ list1 }}   </textarea>
</body>
</html>